<p>Home Test <%= current_user.name %>としてログイン</p>

<form action="/logout" method="post">
    <input type="submit" value="logout">
</form></br>

<form action="/check" method="post">
    <input type="text" name="tms" placeholder="TMSのURLを貼ってください">
    <input type="submit" value="送信">
</form></br>

<% unless session[:memory].nil? %>
<% session[:memory].each do |m| %>
    <% (0..2).each do |t| %>
        <p><%= m[t] %></p>
    <% end %>
    <p>--------------</p>
<% end %>
<% else %>
TMSがありません
<% if @error_check %>
Error!
<% end %>
<% end %>


<p>School一覧</p>
<% current_user.schools.all.each do |school| %>
    <a href="/school/<%= school.id %>"><%= school.name %></a></br>
<% end %>

<!--
<p>School作成</p>
<form action="/school/create" method="post">
    <input type="text" name="name" placeholder="school名を入力してください">
    <input type="submit" value="登録">
</form></br>
-->

<!-- data-bs-〇〇 と入力する必要がある -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    新規スクール作成
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">タイトル</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>内容</p>
                <form action="/school/create" method="post">
                    <input type="text" name="name" placeholder="school名を入力してください">
                    <input type="submit" value="登録">
                </form>
            </div>
        </div>
    </div>
</div>

