
<div class="text-center start" style="font-family: 'M PLUS 1', sans-serif; margin-top: 64px;">
<div class="form-signin" style="width: 100%; max-width: 330px; padding: 15px; margin: auto; ">
    <form action="/sign_up" method="post">
        <h1 class="h3 mb-3 fw-normal">TMSafer</h1>
        
        <div class="form-floating" style="z-index: 2;">
            <input type="text" name="name" placeholder="name" class="form-control" id="floatingInput" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
            <label for="floatingInput">name</label>
        </div>    
        <div class="form-floating" style="z-index: 2;">
            <input type="text" name="mail" placeholder="Email" class="form-control" id="floatingInput" style="margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
            <label for="floatingInput">Email-address</label>
        </div>
        <div class="form-floating" style="z-index: 2;">
            <input type="password" name="password" placeholder="password" class="form-control" id="floatingInput" style="margin-bottom: -2px; border-top-left-radius: 0; border-top-right-radius: 0;">
            <label for="floatingInput">password</label>
        </div>
        <div class="form-floating" style="z-index: 2;">
            <input type="password" name="password_confirmation" placeholder="password confirmation" class="form-control" id="floatingInput" style="margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0;">
            <label for="floatingInput">password confirmation</label>
        </div>
            
        <div class="form-check mb-3">
            <!--<label>
                <input type="checkbox" value="remember-me" style="font-weight: 400;"> 状態を記録する
            </label>-->
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
            
    </form>
</div>
<a class="btn btn-link" href="/">Sign in?</a>
</div>

<script>
$(function() {
    $('.start').hide().fadeIn('slow');
});
</script>
