<form action="/sign_up" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="mail" placeholder="mail">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="password_confirmation" placeholder="password_confirmation">
    <input type="submit" value="sign_up">
</form>

<a href="/sign_in">Sign_in画面</a>