<form action="/sign_in" method="post">
    <input type="text" name="mail" placeholder="mail">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Sign_in">
</form></br>

<a href="/sign_up">Sign_up画面</a>